@charset "utf-8";

body{
    background: #fafafa;
}
.header-wrap{
    background: #fff;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.header-wrap::after{
    content: "";
    display: block;
    clear: both;
}

.header-wrap .logo{
    max-width:100%;
    margin:15px;
}

 .pro-img{
     border-radius: 100%;
     width: 30px;
     height: 30px;
     overflow:hidden;
     margin-left: 10px;
 }
 
 .utill{
    float: right;
    margin: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logout{
    width: 150px;
    height: 30px;
    border: 1px solid #ddd;
    display: inline-block;
    position: absolute;
    right: -12px;
    top:72px;
    background: #fff;
    display: none;
    text-align: center;
}

.header-layout{
    background: #fff;
    max-width: 975px;
    margin: 0px auto;
    position: relative;
}


/* edit body부분 */

.create-wrap {
    background: #fff !important;
    max-width: 686px;
    margin: 50px auto;
    animation: ani 1s forwards;

    position: relative;
    top:30px;
}

.layout{
    padding:15px;
}

.right-group{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:50px;
}




input::file-selector-button {
    display: none;
}

.bottom-wrap {
    border-top: 1px solid #ddd;
    position: relative;
    padding:10px;
}

.small{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 5px;
}
.nike{
    color: #000;
    display: inline-block;
}
.sujang{
    margin:10px;
}

.cancle-btn {
    background: #dedede;
    color: black;
    padding: 9px 15px;
}

.delete-btn {
    background: #ea0000;
    color: #fff !important;
    padding: 9px 15px;
}

.confirm-btn {
    background: #0193f4;
    color: #fff !important;
    padding: 9px 15px;
}

.btn-wrap{
    position: absolute;
    top:15px;
    right: 18px;
}


.btn {
    border-radius: 5px;
    text-align: center;
}

.file{
    display: inline-block;
    vertical-align: middle;
}


footer {
    margin: 30px;
    text-align: center;
}

@keyframes ani{
    0%{top:20px; opacity: 0;}
    100%{top:0; opacity: 1;}

}
